
  h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
     
  }
  
  label {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 4px;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #023047;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #1f83a9;
  }
.img-text{
    color: #fff;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in;
}
.img-text h1{
    font-size: 70px;
    font-family:'Lora', serif;
    font-weight: bold;
}
.img-text p{
    font-weight: 500;
}
