.img-text{
    color: #fff;
    display: inline-block;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s ease-in;
}
.img-text h1{
    font-size: 70px;
    font-family:'Lora', serif;
    font-weight: bold;
}
.img-text p{
    font-weight: 500;
}

